$primary-cyan: hsl(185, 75%, 39%);
$primary-dark-blue: hsl(229, 23%, 23%);
$primary-gray-blue: hsl(227, 10%, 46%);
$neutral-gray: hsl(0, 0%, 59%);
$text: 1.8rem;

@import 'global';

@media screen and (max-width: 375px) {

}